body{
    color:rgb(97, 17, 202);
 background:rgb(150, 96, 201);
    margin: 0px;
}

header{
       border-bottom: solid 2px rgb(255, 255, 255);
       padding: 20px;
       font-size: 32px;
       color: rgb(0, 0, 0);
}

section{
    background: rgb(129, 91, 165);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}